<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Book Shelf</title>
    <style>
        #root_container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books{
            width: 50%;
            border-collapse: collapse;
        }

        table{
            morgin: 25px;
        }

        th{
            text-align: left;
        }

        th, td{
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <div id="root_container">
        <form method="post" th:action="@{/books/save}" th:object="${book}">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="Author" th:field="*{author}">
                        <p th:if="${#fields.hasErrors()}">It should be not empty, size is not right, MIN = 2, MAX = 20</p>
                    </td>
                    <td>
                        <input type="text" placeholder="Book title" th:field="*{title}">
                        <p th:if="${#fields.hasErrors()}">It should be not empty, size is not right, MIN = 2, MAX = 15</p>
                    </td>
                    <td>
                        <input type="number" placeholder="Size (pages)" th:field="*{size}">
                        <p th:if="${#fields.hasErrors()}">Field value must be digit and less than 4 signs</p>
                    </td>
                    <td>
                        <input type="submit" value="Save">
                    </td>
                </tr>
            </table>
        </form>

        <br>

        <form method="post" th:action="@{/books/removeById}" th:object="${bookIdToRemove}">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="ID number" th:field="*{id}">
                    </td>
                    <td>
                        <input type="submit" value="Remove">
                    </td>
                    <td th:if="${#fields.hasErrors()}">
                        <p>Wrong id or not found</p>
                    </td>
                </tr>
            </table>
        </form>

        <br>

        <form method="post" th:action="@{/books/removeByRegex}" th:object="${bookRegexToRemove}">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="Regex" th:field="*{regex}">
                    </td>
                    <td>
                        <input type="submit" value="Remove">
                    </td>
                    <td th:if="${#fields.hasErrors()}">
                        <p>Wrong regex or not found</p>
                    </td>
                </tr>
            </table>
        </form>

        <br>

        <table id="books">
            <tr>
                <th>ID</th>
                <th>Author</th>
                <th>Title</th>
                <th>Size</th>
            </tr>
            <tr th:each="book : ${bookList}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.size}"></td>
            </tr>
        </table>

        <br>

        <form method="post" th:action="@{/books/uploadFile}" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>
                        <input th:type="file" name="file"/>
                    </td>
                    <td>
                        <input th:type="submit" th:value="Upload">
                    </td>
                    <td th:if="${#fields.hasErrors()}">
                        <p>File is null</p>
                    </td>
                </tr>
            </table>
        </form>

    </div>
</body>
</html>