<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Book Shelf Login</title>
  <meta charset="UTF-8">
  <style>
    #login_form {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .login_item{
      margin-bottom: 10px;
    }

  </style>
</head>
<body>

  <div id="login_form" >
    <form method="post" th:action="@{/login/auth}" th:object="${loginForm}" >
      <img class="login_item" th:src="@{/images/book_icon.png}" width="40%">
      <br>
      <input class="login_item" type="text" placeholder="Enter UserName" th:field="*{username}">
      <br>
      <input class="login_item" type="password" placeholder="Password" th:field="*{password}">
      <br>
      <input class="login_item" type="submit" value="Login">
    </form>
  </div>

</body>
</html>